<div class="wrapper-table">
  <table class="table-products">
    <thead class="table-head">
      <tr class="table-head-row">
        <td class="table-head-elem">Название товара</td>
        <td class="table-head-elem">Количество</td>
        <td class="table-head-elem">Cтоимость 1ед.</td>
        <td class="table-head-elem" (click)="sort()">
          <span class="table-head-elem-content">Общая стоимость</span>
          <span *ngIf="sortByDecrease">&#9650;</span>
          <span *ngIf="!sortByDecrease">&#9660;</span>
        </td>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr class="table-body-row" *ngFor="let product of products">
        <td class="table-body-elem">{{ product.nameProduct }}</td>
        <td class="table-body-elem">
          <input
            (ngModelChange)="rowSumCalc($event, product, 'count')"
            type="number"
            [(ngModel)]="product.count"
          />
        </td>
        <td class="table-body-elem">
          <input
            (ngModelChange)="rowSumCalc($event, product)"
            type="number"
            [(ngModel)]="product.cost"
          />
        </td>
        <td class="table-body-elem">
          {{ product.general }}
        </td>
      </tr>
    </tbody>
    <tfoot class="table-foot">
      <tr class="total-foot-row">
        <td class="table-foot-elem" colspan="3">
          Общая стоимость всех товаров
        </td>
        <td class="table-foot-elem">{{ generalCost }}</td>
      </tr>
    </tfoot>
  </table>
</div>
