<table>
  <thead>
    <tr>
      <td>Название товара</td>
      <td>Количество</td>
      <td>Cтоимость 1ед.</td>
      <td>Общая стоимость</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Красный носок</td>
      <td><input type="number" [(ngModel)]="products.redSock.count" /></td>
      <td><input type="number" [(ngModel)]="products.redSock.cost" /></td>
      <td>
        {{ products.redSock.generalCalc() }}{{ products.redSock.general }}
      </td>
    </tr>
    <tr>
      <td>Синий носок</td>
      <td><input type="number" [(ngModel)]="products.blueSock.count" /></td>
      <td><input type="number" [(ngModel)]="products.blueSock.cost" /></td>
      <td>
        {{ products.blueSock.generalCalc() }}{{ products.blueSock.general }}
      </td>
    </tr>
    <tr>
      <td>Бесцветный носок</td>
      <td><input type="number" [(ngModel)]="products.insipid.count" /></td>
      <td><input type="number" [(ngModel)]="products.insipid.cost" /></td>
      <td>
        {{ products.insipid.generalCalc() }}{{ products.insipid.general }}
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="total-cost">
      <td colspan="3" class="total" (click)="sort()">
        Общая стоимость всех товаров
      </td>
      <td>{{ generalCostAllProducts() }}</td>
    </tr>
  </tfoot>
</table>
